<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    {% block meta %}{% endblock %}

    <title>Museum</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}fossil_app/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}/fossil_app/custom/css/offcanvas.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}/fossil_app/custom/css/will.css" rel="stylesheet">

    {% block css %}{% endblock %}

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
{% include "fossil_app/base/base_navbar.html" %}
{% block body %}{% endblock %}
{% block script %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}fossil_app/js/jquery-2.1.1.js"></script>
    <script src="{{ STATIC_URL }}fossil_app/js/jquery.form.js"></script>
    <script src="{{ STATIC_URL }}fossil_app/js/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}fossil_app/js/bootstrap-treeview.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <script src="{{ STATIC_URL}}fossil_app/custom/js/offcanvas.js"></script>

    <script type="text/javascript">
    {% block script_ext %}
          if(location.pathname.split('/')[1]){
              var a_href="/" + location.pathname.split("/")[1] + "/";
          } else {
              var a_href="/";
          }
          $('#navbar a[href="' + a_href + '"]').addClass('navactive');
    {% endblock %}
    </script>
{% endblock %}
</body>
</html>
