
            <div class="col-xs-6 col-lg-12"> <!--This is form block-->
                <!-- Standard button -->
                {% if add_node_flag %}
                <button type="button" class="btn btn-default" onclick="AddNode({{ selnode.id }})">Add Node</button>
                {% endif %}

                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                <button type="button" class="btn btn-primary" onclick="AddNode({{ selnode.id }})">Add Fossil</button>

                <!-- Indicates a successful or positive action -->
                <button type="button" class="btn btn-success">Add Node</button>

                <!-- Contextual button for informational alert messages -->
                <button type="button" class="btn btn-info">Info</button>

                <!-- Indicates caution should be taken with this action -->
                <button type="button" class="btn btn-warning">Warning</button>

                <!-- Indicates a dangerous or potentially negative action -->
                <button type="button" class="btn btn-danger">Danger</button>

                <!-- TODO: modal_form_addnode should be child node of body -->
                <!-- TODO: added dramiticaly when click some button -->
                {% include "fossil_app/fossilplant/modal_form_addnode.html" %}
                <hr>
            </div>

            <div class="col-xs-6 col-lg-12"> <!--This is for base article-->
                {% if base_article %}
                {{ base_article.text }}
                {% else %}
                {% endif %}
            </div>
            {% for article in sub_articles %}
            <div class="col-xs-6 col-lg-12">
                {{ article.text }}
            </div>
            {% endfor %}
            <div class="col-xs-6 col-lg-12">
            </div>
          <div id="pic_row">
            <div class="col-xs-6 col-lg-4">
              <h2>Heading</h2>
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" class="img-responsive img-circle" alt="Cinque Terre" width="304" height="236">
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
              <h2>Heading</h2>
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" class="img-responsive img-circle" alt="Cinque Terre" width="304" height="236">
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
              <h2>Heading</h2>
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" class="img-responsive img-circle" alt="Cinque Terre" width="304" height="236">
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/.col-xs-6.col-lg-4-->
          </div>